{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<header>
	{% if cat != nil %}
	<h2 class="pageTitle">{{cat.name}}</h2>
	{% elif archiveYear != nil and archiveMonth != nil %}
	<h2 class="pageTitle">{{archiveYear}}年{{archiveMonth}}月</h2>
	{% endif %}
</header>
{% for article in articles.object_list %}
<article>
	<header>
		<h2 class="articleTitle">{{article.title}}</h2>
		<p class="articleAuthor">by: {{article.author}} {{article.timestamp}}</p>
	</header>
	<span class="articleBody">{{article.body|slice:'200'}}...</span>
	<br/>
	<footer>
		<a href="{% url 'article' article.id %}">查看全文</a>
	</footer>
</article>
{%  endfor %}
<nav id="contentPagerSection">
{% if articles.has_previous %}
	<div style="left:200px;position:relative;width:80px;height:15px;">
		{% if categoryID != nil %}
		<a href="{% url 'categoryInPages' categoryID=cat.id pageNo=articles.previous_page_number %}"><< 前滚翻</a>
		{% elif archiveYear != nil and archiveMonth != nil %}
		<a href="{% url 'archiveInPages' archiveYear=archiveYear archiveMonth=archiveMonth pageNo=articles.previous_page_number %}"><< 前滚翻</a>
		{% else %}
		<a href="{% url 'indexInPages' pageNo=articles.previous_page_number %}"><< 前滚翻</a>
		{% endif %}
	</div>
{% endif %}
{% if articles.has_next %}
	<div style="left:340px;top:-15px;position:relative;width:80px;height:15px;">
		{% if categoryID != nil %}
		<a href="{% url 'categoryInPages' categoryID=cat.id pageNo=articles.next_page_number %}">后滚翻 >></a>
		{% elif archiveYear != nil and archiveMonth != nil %}
		<a href="{% url 'archiveInPages' archiveYear=archiveYear archiveMonth=archiveMonth pageNo=articles.next_page_number %}">后滚翻 >></a>
		{% else %}
		<a href="{% url 'indexInPages' pageNo=articles.next_page_number %}">后滚翻 >></a>
		{% endif %}
	</div>
{% endif %}
</nav>
{% endblock %}
