body{
    background-color: #FFFFAA;
}
.pageTitle{
    font-family: STHeiti,SimHei;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #888888;
}
.articleTitle{
    font-family: STHeiti,SimHei;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.articleAuthor{
    font-family: STSong,SimSum;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
    color: black;
}
.articleBody{
    font-family: STSong,SimSum;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
a:link,active,hover,visited{
    font-family: STSong,SimSum;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-decoration: none;
    color: blue;
}